/* 
	Загрузка шрифта - Начало
 */
@font-face {
	font-family: "PT sans";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/ptsans-400.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: "PT sans";
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/ptsans-700.woff2') format('woff2');
	font-display: swap;
}
 /* 
	Загрузка шрифта - Завершение
 */

 /* Визуальное скрывания эелемнта со страницы в браузере

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
} */

	/* обнуление отступов у всех элементов 
 * {					
		margin: 0;
		padding: 0;
 }
*/

body {
	font-family: "PT sans", sans-serif;
	color: #000;
	background-color: #F2F2F2;
}

a {					/* меняем у всех ссылок цвет по умолчанию на наследуемый от родителя */
	color: inherit;	
}

.button {			/* для большинтсва кнопок на всех страницах */
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #756257;
	border-radius: 4px;
}


/* Шапка сайта */
.site-header {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	background-color: #fff;
}
.navigation-menu-link,
.footer-socials-links,
.footer-contact-tel,
.developer-link {
	text-decoration: none;
}

/* Подвал сайта */
.site-footer {
	background-color: #fff;
}


/* Главная Страница */
.home-page {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

/* Секция подписки на рассылку */
.subscribe-newsletter {
	color: #fff;
	background-color: #000;
	background-image: url('../images/index/bg-newsletter.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


/* Страница Каталога */

/* Секция Список товаров, Фильтры и Сортировки */
.filter {
	color: #fff;
	background-color: #000;
	background-image: url('../images/catalog/bg-catalog.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
