/* 
	Загрузка шрифта - Начало
 */
@font-face {
	font-family: "PT sans";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/ptsans-400.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: "PT sans";
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/ptsans-700.woff2') format('woff2');
	font-display: swap;
}
 /* 
	Загрузка шрифта - Завершение
 */

 /* Визуальное скрывания эелемнта со страницы в браузере */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
} 

	/* обнуление отступов у всех заголовков */
h1,h2,h3,h4,h5,h6 {					
		margin: 0;
 }
	/* обнуление отступов у всех абзцев */
P {
	margin: 0;
}
 /* изменяем боксовою модель */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* тег html свойства единые для большинства дочерних элементов */
.page {
	height: 100%;
	color: #000;
	background-color: #F2F2F2;
}

/* переопределяем свойства body */
body {
	display: flex;
	flex-direction: column;
	width: 1200px;
	min-height: 100%;
	margin: 0 auto;
	font-family: "PT sans", sans-serif;
	background-color: #fff;
}

a {					/* меняем у всех ссылок цвет по умолчанию на наследуемый от родителя */
	color: inherit;	
}

.navigation-menu-link,	/* Интерактивным элементам убрать подчеркивание */
.footer-socials-links,
.footer-contact-tel,
.developer-link,
.pagination-link,
.button {
	text-decoration: none;
}

.button {			/* для большинтсва кнопок на всех страницах */
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #fff;
	background-color: #756257;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.select-menu,			/* Спискам убрать маркеры и отступы */
.navigation-menu,
.breadcrumps-list,
.filters-group-list,
.catalog-view,
.hotel-list,
.catalog-pagination,
.footer-socials-list,
.advantages-list,
.advantages-sublist {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.button,		/* Элементы в верхнем регистре */
.advantages-item-title,
.advantages-item-number,
.footer-contact-tel,
.text-title,
.hotels-found-text,
.hotel-card-more.button,
.hotel-card-favorite.button,
.hotel-rating-popularity {
	text-transform: uppercase;
}

/* Шапка сайта */
.site-header {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	background-color: #fff;
}
	.navigation {
		display: flex;
		width: 1060px;
		margin: 0 auto;
	}
		.logo-link{
			display: flex;				/* Необходимо чтобы избавиться от нижнего отступа у img */
			margin-right: 30px;
		}
		.navigation-menu {
			display: flex;
			min-width: 345px;
		}
		.navigation-menu-link {
			display: block;
			padding: 20px 17px;
		}
		.navigation-link-active {
			border-bottom: 2px solid #756257;
		}
		.navigation-menu.user-menu {
			min-width: 264px;
			margin-left: auto;
		}
			.icon-search,
			.icon-favorite {
				position: relative;
				display: block;
				width: 42px;
				height: 66px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}

			.icon-search {
				background-image: url('../images/btn-search.svg');
			}

			.icon-favorite {
				background-image: url('../images/btn-favorite.svg');
			}

			.favorite-counter {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: 20px;
				font-size: 10px;
				line-height: 13px;
				letter-spacing: -0.1em;
				color: #FFFFFF;
				background-color: #7DB54F;
				border-radius: 50%;
			}
			.navigation-menu-item.button {
				display: flex;
				margin-left: auto;
				align-self: center;
				flex-shrink: 0;
				width: 160px;
				vertical-align: middle;
				line-height: 20px;
				border-radius: 4px;
			}
			.navigation-menu-item.button .navigation-menu-link {
				margin: auto;
				padding: 9px 15px;
			}


/* Подвал сайта */
.site-footer {
	display: flex;
	background-color: #fff;
	padding: 40px 72px 40px 72px;
}

		.footer-socials {
			display: flex;
			align-items: center;
			margin-right: 61px;
		}
				.footer-socials-list {
					display: flex;
					justify-content: space-between;
					min-width: 107px;
					flex-wrap: wrap;
				}
				.footer-socials-links {
					display: block;
					width: 20px;
					height: 18px;
					outline: 1px solid tomato;
					outline-offset: -1px;
				}
			.footer-socials-item:first-child {
				/* list-style-image: url('../images/social-twitter.svg'); */
			}

			.footer-socials-item:nth-child(2) {
				/* list-style-image: url('../images/social-facebook.svg'); */
			}

			.footer-socials-item:last-child {
				/* list-style-image: url('../images/social-youtube.svg'); */
			}

		.footer-contacts {
			width: 720px;
			text-align: center;
		}

		.footer-contact-tel {
			font-size: 40px;
			line-height: 40px;
		}
		.project-developers {
			width: 115px;
			margin-left: auto;
		}


/* Главная Страница */
.home-page {
	flex-grow: 1;
	font-size: 18px;
	line-height: 21px;
}

/* Секция Введение */
.intro {
	height: 485px;
	background-image: url('../images/index/bg-index.jpg') ;
	background-repeat: no-repeat;
	background-size: cover;
}

		.intro-devider {
			width: 100%;
			height: 58px;
			margin-top: 25px;
			background-image: url('../images/index/bg-intro-devider.svg');
			background-repeat: no-repeat;
			background-size: 100% auto;
		}

		.intro-image {
			margin-top: 51px;
		}

		.intro-text-container {
			margin: 0;
			padding: 61px 0 80px;
			line-height: 36px;
			text-align: center;
			background-color: #fff;
		}
		.intro-text.text-title {
			width: 720px;
			margin: 0 auto;
			margin-bottom: 31px;
		}
		.text-title {
			font-weight: 700;
			font-size: 30px;
			line-height: 36px;
		}
		.text-description {
			margin-bottom: ;
			font-size: 22px;
			color: #333333;
		}

/* Секция Преимущества */
.advantages {
	text-align: center;
	color: #333333;
}
	.advantages-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
	}
			.advantages-item,
			.advantages-sublist-item {
				min-height: 384px;
				min-width: 400px;
			}
			.advantages-item__large {
				width: 1200px;
			}
			.advantages-item:nth-child(odd),
			.advantages-item:nth-child(odd)  {
				background: rgba(131, 179, 211, 0.12);
			}
			.advantages-item:nth-child(even) {
				background: rgba(131, 179, 211, 0.2);
			}
					.advantages-item-info {
						display: flex;
						color: #fff;
						background: #83B3D3;
					}
					.advantages-item-title {
						min-width: 400px;
						margin-top: 98px;
						font-weight: 700;
						font-size: 24px;
						line-height: 28px;
					}
					.advantages-item-number {
						margin-top: 29px;
					}
					.advantages-item-description {
						width: 250px;
						margin-left: auto;
						margin-right: auto;
						margin-top: 30px;
					}
			.advantages-sublist {
				display: flex;
				flex-wrap: wrap;
				width: 1200px;
				margin: 0;
				padding: 0;
			}
					.advantages-sublist-item .advantages-item-title {
						width: 250px;
						min-width: 250px;
						margin: 0 auto;
						margin-top: 184px;
					}
					.advantages-sublist-item .advantages-item-description {
						padding-bottom: 10px;
						margin-top: 20px;
						margin-bottom: 79px;
					}
					.advantages-sublist-item:nth-of-type(1) {
						/* list-style-image: url('../images/index/icon-housing.svg'); */
						background: rgba(131, 179, 211, 0.12);
					}
					.advantages-sublist-item:nth-of-type(2) {
						/* list-style-image: url('../images/index/icon-burger.svg'); */
						background-color: #fff;
					}
					.advantages-sublist-item:nth-of-type(3) {
						/* list-style-image: url('../images/index/icon-souvenir.svg'); */
						background: rgba(131, 179, 211, 0.12);
					}


/* Секция поиск гостиниц */
.hotel-search {
	padding: 91px 240px;
	padding-bottom: 93px;
	text-align: center;
	background-color: #fff;
}
			.hotel-search .text-title {
				margin-bottom: 29px;
				line-height: 36px;
			}
			.hotel-search .text-description {
				margin-bottom: 56px;
				line-height: 26px;
			}
		.search.button {
			display: block;
			margin: 0 73px;
			padding: 15px 0;
			font-size: 20px;
			line-height: 30px;
			border-radius: 10px;
		}

/* Секция подписки на рассылку */
.subscribe-newsletter {
	padding: 94px 200px;
	text-align: center;
	color: #fff;
	background-color: #000;
	background-image: url('../images/index/bg-newsletter.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
		.subscribe-newsletter-title.text-title {
			margin-bottom: 29px;
		}
		.subscribe-newsletter-description {
			min-width: 720px;
			margin-bottom: 46px;
			font-size: 22px;
			line-height: 26px;
		}
		.subscribe-form {
			display: flex;
			min-height: 60px;
		}
				.subscribe-form.field-input {
					flex-grow: 1;
					width: 100%;
					min-width: 50px;
					box-sizing: border-box;
					border-radius: 10px 0px 0px 10px;
					border-color: transparent;
				}
				.subsribe-form.button {
					min-width: 200px;
					font-size: 20px;
					line-height: 26px;
					background-color: #83B3D3;
					border-radius: 0px 10px 10px 0px;
				}


/* Страница Каталога */
.page-header {

}
		.page-heading {
			height: 68px;
			margin-bottom: 5px;
			font-weight: 700;
			font-size: 60px;
			line-height: 78px
		}

		.icon-home {
			display: inline-block;
			width: 12px;
			height: 12px;
			background-image: url('../images/catalog/breadcramps-home.svg');
		}

		.breadcrumps-list {
			display: flex;
			font-size: 16px;
			line-height: 21px;
		}
		.breadcrumps-item:not(:last-child)::after {
			content: "";
			display: inline-block;
			width: 5px;
			height: 8px;
			margin-right: 10px;
			margin-left: 11px;
			background-image: url('../images/catalog/breadcramps-arrow.svg');
		}

/* Секция Список товаров, Фильтры и Сортировки */
.bg-container {
	padding: 30px 72px 83px 71px;
	color: #fff;
	background-color: #000;
	background-image: url('../images/catalog/bg-catalog.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.filter {
	padding: 45px 0 0 0;
}
	.catalog-filters {
		display: flex;
		align-items: center;
	}
			.catalog-filters-group {
				width: 150px;
				border: none;
				padding: 0;
				margin: 0 67px 0 0;
			}
					.filters-group-title {
						margin-bottom: 30px;
						font-weight: 700;
						font-size: 20px;
						line-height: 26px;
					}
							.filters-group-item {
								font-size: 18px;
								line-height: 23px;
							}
							.filters-group-item:not(:last-child) {
								margin-bottom: 16px;
							}
									.item-control {
										display: flex;
									}
											.item-control .item-control-mark {
												display: block;
												width: 20px;
												height: 20px;
												margin-right: 19px;
												background-color: #fff;
											}
											.item-control-mark.radio-button {
												border-radius: 50%;
											}
											
			.catalog-filters-group.filters-group-large {
				display: flex;
				position: relative;
				flex-wrap: wrap;
				align-self: start;
				margin-left: 100px;
					width: 288px;
			}
					.filter-item-label {
						position: absolute;
						top: 12px;
						font-size: 18px;
						line-height: 23px;
						opacity: 0.3;
					}
					.filter-item-label:first-of-type {
						left: 112px;
					}
					.filter-item-label:last-of-type {
						right: 12px;
					}
					.filter-item-input {
						width: 144px;
						min-height: 48px;
						font-family: 'PT Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 23px;
						color: #FFFFFF;
						background-color: transparent;
						border: 2px solid #FFFFFF;
						border-radius: 4px;
					}
					.filter-item-input:last-of-type {
						border-left: none;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
					.filter-item-input:first-of-type {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}

			.buttons-container {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				width: 160px;
				margin-left: auto;
			}
					.catalog-filters-submit.button {
						flex: 1 1 auto;
						width: 160px;
						background-color: #83B3D3;
						border-radius: 4px;
					}

					.catalog-filters-reset.button {
						flex: 1 1 auto;
						font-size: 18px;
						line-height: 23px;
						text-transform: none;
						background-color: transparent;
					}

/* Секция списка гостиниц и сортировки */
.catalog {
	background-color: #fff;
}

	.sorting-filters {
		display: flex;
		width: 1056px;
		margin: 0 auto;
		padding: 44px 0 33px 0;
	}
			.hotels-found-text {
				min-width: 338px;
				margin-right: 191px;
				font-weight: 700;
				font-size: 30px;
				line-height: 39px;
			}

			/* Сортировка */
			.catalog-sorting {
				width: 287px;
				margin-right: 81px;
				font-size: 18px;
				line-height: 23px;
				color: #333333;
				border: 2px solid #E6E6E6;
				border-radius: 4px;
			}
			.catalog-view {
				display: flex;
				justify-content: space-between;
				min-width: 160px;
				padding: 0;
			}
					.catalog-view-item {
						position: relative;
						width: 48px;
						height: 48px;
						background-color: transparent;
						background-repeat: no-repeat;
						background-position: center center;
						border: 2px solid #E6E6E6;
						border-radius: 4px;
					}
					.catalog-view-item:first-child {
						background-image: url('../images/catalog/btn-mode-tile.svg');
					}
					.catalog-view-item:nth-child(2) {
						background-image: url('../images/catalog/btn-mode-slideshow.svg');
					}
					.catalog-view-item:last-child {
						background-image: url('../images/catalog/btn-mode-list.svg');
					}
					.catalog-view-item.view-item-active {
						border-color: #000;
					}
						.catalog-view-link::before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							cursor: pointer;
						}

	/* Список гостиниц  */
	.hotel-list {
		display: flex;
		flex-wrap: wrap;
		width: 1056px;
		margin: 0 auto;
		column-gap: 18px;
		row-gap: 10px;
	}
			.hotel-card {
				width: 340px;
				padding: 20px;
			}
					.hotel-card-link {
						display: flex;
						flex-direction: column;
					}
							.hotel-card-title {
								padding: 16px 0;
								font-weight: 700;
								font-size: 24px;
								line-height: 31px;
							}
					.hotel-card-info {
						margin-bottom: 16px;
						font-size: 18px;
						line-height: 23px;
						color: #333333;
					}
					.hotel-card-more.button,
					.hotel-card-favorite.button {
						display: block;
						width: 133px;
						padding: 8px 0;
						font-weight: 700;
					}
					.hotel-card-more.button {
						float: right;
						width: 141px;
					}
					.hotel-card-favorite.button {
						margin-right: 25px;
						background: #83B3D3;
					}
					.hotel-card-ratings {
						display: flex;
						gap: 49px;
						align-items: center;
						width: 300px;
						height: 37px;
						margin-top: 16px;
					}
					.hotel-rating-stars {
						display: flex;
						gap: 7px;
					}
					.hotel-rating-star::before {
						display: block;
						content: "";
						width: 18px;
						height: 17px;
						background-image: url('../images/catalog/star-icon.svg');
						background-repeat: no-repeat;
					}
					.hotel-rating-popularity {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 160px;
						height: 37px;
						font-size: 16px;
						line-height: 21px;
						text-align: center;
						color: #333333;
						background: #F2F2F2;
						border-radius: 4px;
					}

	/* Пагинация */
	.catalog-load-more.button {
		display: block;
		width: 620px;
		margin: 0 auto;
		padding: 17px 0;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		background-color: #83B3D3;
	}
	.devider-button-more {
		width: 1055px;
		height: 1px;
		margin: 0 auto;
		background-color: #E6E6E6;
		margin-top: 34px;
		margin-bottom: 30px;
	}
	.pagination-container {
		display: flex;
		justify-content: space-between;
		width: 1056px;
		margin: 0 auto;
	}
			.catalog-pagination {
				display: flex;
				justify-content: space-between;
				min-width: 370px;
				padding: 0;
				font-weight: 700;
				font-size: 20px;
				line-height: 26px;
			}
					.pagination-link {
						display: block;
						width: 55px;
						height: 55px;
						color: #fff;		
						background: #83B3D3;
						border-radius: 4px;
					}
					.pagination-active {
						color: #000;
						background: #F2F2F2;
					}
			.pagination-select {
				display: flex;
				justify-content: space-between;
				min-width: 386px;
				font-size: 18px;
				line-height: 23px;
				color: #333333;
			}
				.pagination-select>p {
					min-width: 175px;
				}
				.select {
					width: 160px;
				}

.catalog+.subscribe-newsletter {
	padding: 73px 200px 140px 200px;
	color: inherit;
	background-color: inherit;
	background-image: none;
}

.catalog+.subscribe-newsletter .subscribe-form.field-input {
	background: #F2F2F2;
}